body{
    background-color: rgb(228, 217, 217);
}
#header{
    background-color: green;
    color: white;
}
.links{ 
    color: white;
}
.main{
    background-color: white;
}
#footer{
    background-color: green;
    color: white;
}
#table{
    width: 70%;
}